
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: rgb(9, 2, 34);
}

header {
  font-family: 'Signika', sans-serif;
  color: slategray;
  font-weight: 700;
  font-size: 64px;
  margin-left: 35%;
  margin-right: 35%;
  line-height: 0.9em;
  padding-top: 10px;
}

header .divider {
  border-top: 1px solid slategray;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 20px;
 
}